@import 'src/shared/styles/index.scss';

.gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  max-width: 1200px;
  padding: 16px;
  gap: 8px;

  @include sm {
    flex-direction: column;
  }
}
