@import 'src/shared/styles/index.scss';

.post {
  display: block;
  background: lightgray;

  font-size: large;

  @include xxl {
    width: 100%;
    height: auto;
    justify-content: center;
  }

  @include xl {
    width: 100%;
    height: auto;
    justify-content: center;
  }

  @include lg {
    width: 100%;
    height: auto;
    justify-content: center;
  }

  @include md {
    width: 100%;
    height: auto;
    justify-content: center;
  }

  @include sm {
    width: 100%;
    height: auto;
    justify-content: center;
  }

  .wrapper-post-title {
    @include xxl {
      width: 100%;
      height: auto;
    }
    @include xl {
      flex-direction: column-reverse;
      width: 100%;
      height: auto;
    }
    @include lg {
      flex-direction: column-reverse;
      width: 100%;
      height: auto;
    }

    @include md {
      flex-direction: column-reverse;
      width: 100%;
      height: auto;
    }
    @include sm {
      flex-direction: column-reverse;
      width: 100%;
      height: auto;
    }
    .post-title {
      display: flex;
      flex-direction: column;
      justify-content: center;

      padding: 10% 0 0 20%;
      height: 50%;
      width: 100%;
      background: transparent;

      @include xxl {
        padding: 0 0 0 10%;
        height: auto;
        width: 40%;
      }

      @include xl {
        max-width: 100%;
        height: auto;
        margin: 0;
        padding: 0 0 0 4%;
      }

      @include md {
        max-width: 100%;
        height: auto;
        margin: auto;
        padding: 0 0 0 5%;
      }
      @include lg {
        font: small;
        max-width: 100%;
        height: auto;
        padding: 0 0 0 5%;
        margin: 0;
      }
      @include sm {
        font: small;
        max-width: 100%;
        height: auto;
        padding: 0 0 0 5%;
      }

      .author {
        margin: 5% 0 0 0;
        font-weight: bold;

        @include xl {
          width: 100%;
          font-size: medium;
          height: auto;
          margin: 0;
        }
        @include md {
          width: 50%;
          height: auto;
          margin: 0;
        }
        @include sm {
          width: 100%;
          font-size: medium;
          height: auto;
          margin: 0;
        }
      }
      .date {
        color: #6643b5;
        font-weight: bold;

        @include xl {
          display: flex;
          flex-direction: row;
          width: 100%;
          height: auto;
          padding: 0;
        }
        @include md {
          display: flex;
          flex-direction: row;
          width: 100%;
          height: auto;
          padding: 0;
        }
        @include sm {
          display: flex;
          flex-direction: row;
          width: 100%;
          height: auto;
          padding: 0;
        }
      }
      .data-title {
        @include xl {
          width: 100%;
          height: auto;
          margin: 1% 0;
        }
        @include md {
          width: 100%;
          height: auto;
          margin: 3% 0;
        }
        @include sm {
          font-size: 24px;
          width: 100%;
          height: auto;
        }
      }
    }

    .post-image {
      height: 20%;
      width: 50%;
      background: transparent;
      padding: 3%;

      @include xxl {
        display: flex;
        height: auto;
        width: 60%;
        background: transparent;
        padding: 0;
        margin: 2% 0% 0% 15%;
      }

      @include xl {
        max-width: 100%;
        width: auto;
        height: auto;
        margin: 3% 4% 1% 4%;
        padding: 0;
      }

      @include lg {
        max-width: 100%;
        width: auto;
        height: auto;
        margin: 5%;
        padding: 0;
      }

      @include md {
        max-width: 100%;
        width: auto;
        height: auto;
        margin: 5%;
        padding: 0;
      }

      @include sm {
        width: 100%;
        height: auto;
        margin: auto;
        padding: 5%;
      }
    }

    img {
      display: flex;
      object-fit: cover;
      max-height: 100%;
      width: auto;

      @include xxl {
        max-width: 100%;
        height: auto;
      }

      @include xl {
        height: auto;
        width: 100%;
      }
      @include lg {
        height: 100%;
        width: auto;
      }
      @include md {
        width: 100%;
        height: auto;
      }

      @include sm {
        object-fit: cover;
        max-width: 100%;
        height: auto;
      }
    }
  }
  .post-text {
    justify-content: center;
    width: 50%;
    padding: 10px;
    img {
      display: flex;
      max-width: 100%;
      object-fit: cover;
      margin: 10px 0 0 0;
      @include xxl {
        width: 100%;
        height: auto;
        margin: 1% 0%;
        padding: 0;
      }
    }
    @include xxl {
      width: 100%;
      height: auto;
      margin: 3%;
    }
    @include xl {
      width: 100%;
      height: auto;
      margin: 3%;
    }
    @include lg {
      width: 100%;
      height: auto;
      margin: 3%;
    }
    @include sm {
      width: 100%;
      height: auto;
      margin: 3%;
    }
  }
}
