@import 'src/shared/styles/index.scss';

.post {
  display: block;

  max-width: 1600px;
  padding-inline: 50px;

  @include md {
    padding-inline: 20px;
  }

  .wrapper-post-title {
    margin-block: 20px;

    @include lg {
      flex-direction: column-reverse;
    }

    @include md {
      margin-block: 10px;
    }

    .post-title {
      display: block;

      margin-block: auto;
      padding-left: 50px;
      width: 50%;

      @include lg {
        width: 100%;
        padding-left: 0;
      }

      .author {
        font-weight: 700;
      }
      .date {
        font-weight: 700;
      }
      .data-title {
        @include lg {
          margin-block: 10px;
        }
      }

      .meta {
        @include margin(4px, 'inline');
        font-style: italic;
      }

      .textPreview {
        @include margin(8px, 'bottom');
      }
    }

    .post-image {
      @include lg {
        width: 100%;

        img {
          width: 100%;
          max-height: 400px;
          object-fit: cover;
        }
      }
    }
  }
  .post-text {
    text-align: justify;

    img {
      display: flex;

      max-width: 100%;
      margin: 10px auto;
    }
  }
}
