@import 'src/shared/styles/index.scss';

.another-post {
  cursor: pointer;
  width: calc(33% - 4px);

  overflow: hidden;

  @include lg {
    display: flex;
    flex-direction: column;

    height: auto;
    width: calc(33% - 4px);
  }

  @include md {
    width: calc(33% - 4px);
  }

  @include sm {
    display: flex;
    height: auto;
    width: 100%;
  }

  .another-post-img {
    width: 100%;
    height: 150px;
    object-fit: cover;

    @include lg {
      width: 100%;
      min-height: 150px;
      height: 150px;
    }

    @include sm {
      width: 100%;
      height: 70%;
    }
  }
}
