@import 'src/shared/styles/index.scss';

.gallery-wrapper {
  width: 100%;
}

.sub-wrapper {
  width: 100%;
  background: $subCategoryBg;
  border-radius: 4px;
  -webkit-box-shadow: inset 1px 1px 6px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 1px 1px 6px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 1px 1px 6px 0px rgba(0, 0, 0, 0.75);
}
