$headerHeight: 40px;

$fontFamily: "'Cormorant Garamond', serif";

$black: black;
$white: white;
$mainGray: #e8e6e6;
$subCategoryBg: #d0cfcf;
$green: #c8cfc6;
$greenAccent: #b7bdb5;
$violet: #8c7284;
