@import 'src/shared/styles/index.scss';

.link-card-wrapper {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.3s;
  width: 300px;

  @include sm {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  &:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }

  .link-image-container {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;

    .link-card-img {
      width: 100%;
      height: 350px;
      object-fit: cover;
    }
  }
}

.expandable-card-wrapper {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.3s;
  width: 300px;

  @include sm {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  &:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }

  .expandable-image-container {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;

    .expandable-card-img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
  }
}

.name {
  margin-block: 4px;
  font-size: 24px;
  font-weight: 700;
}

.description {
  margin-bottom: 8px;
}
